<!DOCTYPE html>
<html lang="en" data-theme="sunset">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hey {{ name }},</p>
    <p>Please click below to confirm your email</p>
    <p>
        <a href="{{ link }}" style="color:brown;">Klik</a>
        <button class="btn btn-primary">testing</button>
    </p>
</body>
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

</html>